body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*Из предыдущего варианта навигация*/
.wrapper {
  letter-spacing: 2px;
  display: flex;
}

.nav {
  padding-top: 40px;
  height: 100vh;
  width: 300px;
  background-color: #e4eafa;
}
.tabs {
  font-size: 20px;
  color: #1444a4;
  position: relative;
  list-style-type: none;
}

.upper {
  padding-top: 20px;
  padding-bottom: 20px;
}

.lower {
    padding-top: 17px;
    padding-bottom: 20px;
}
.tabs:first-child::after{
  content: "";
  height: 2px;
  bottom: 60px;
  position: absolute;
  width: 70%;
  background-color: #1444a4;
}
.active {

  width: 100%;
  margin-left: -40px;
  padding-left: 40px;
  background-color: #ffffff;
}

.content {
  padding-top: 60px;
  padding-left: 60px;
}

.mainInfo {
  display: flex;
  color: #1444a4;
  margin-bottom: 80px;
}

.image {
  width: 200px;
  height: 200px;
  background-color: #e5ebfb;
  border: 10px solid #ffffff;
  border-radius: 110px;
  box-shadow: 0 0 0 3px #1444a4;
  margin-right: 40px;
}

.name {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 40px;
}

.levelText {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 10px;
}

.level {
  height: 15px;
  width: 600px;
  border-radius: 8px;
  background: linear-gradient(to right, #1be5f7, #1444a4);
  margin-bottom: 40px;
}
.levelArea {
  position: relative;
  align-items:baseline;
  display: flex;
  color: #1444a4;
  font-size: 25px;
}
.prev {
  margin-right: 10px;
}
.next{
  margin-left: 10px;
}
.levelHidden {
  top: 5px;
  right: 26px;
  background-color: #ffffff;
  position: absolute;
  height: 20px;
  width: 600px;
}
.additionalInfo {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.text {
  font-size: 16px;
  font-weight: 300;
}
.percent {
  font-size: 18px;
  margin-top: 6px;
  font-weight: 700;
}
.categories {
  color: #1444a4;

}
.rounds {
  display: flex;
}
.canvas {
  position: relative;
}
.canv {
  text-align: center;
  position: absolute;
  top: 120px;
  left: 95px;
}
.title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 40px;
}
.letterName {
  position: relative;
  font-weight: 300;
  margin-top: 20px;
  font-size: 25px;
  margin-bottom: 10px;
}
.letterName::after {
  content: "";
  position: absolute;
  top: 30px;
  height: 1px;
  width: 100%;
  background-color: #1444a4;
}
.words {
  margin-top: 10px;
  font-size: 18px;
}
.vocabulary {
  color: #1444a4;
}
 .tabs > li {
   cursor: pointer;
 }
